body {
  background-color: white;
  margin: 0;
  border: 0;
  padding: 0;
  margin-block-start: 0;
}

.heading {
  display: flex;
  justify-content: center;
}

.books-container-one {
  margin: 1% 35%;
  background-color: #fff;
}

.books-container {
  padding-left: 0;
  border: 3px solid black;
}

ul {
  list-style-type: none;
}

div.books-container-one ul.books-container div.item:nth-child(odd) {
  background-color: #e6ebeb;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 1% 2%;
}

.line {
  margin: 1% 47%;
}

.contact-form {
  margin: 0 43%;
  padding-right: 1%;
}

.contact-form h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  margin-bottom: 2%;
}

.button-container {
  display: flex;
  justify-content: end;
}

#addBtn {
  background-color: white;
  box-shadow: 1px 2px black;
}

input {
  border-color: black;
}
